.navbar {
    width: 100%;
    background-color: gold;
    min-height: 5vh;
    .anchor-list {
        display: flex;
        list-style: none;
        li {
            margin: 15px 15px;
        }
    }
}
