.loader {
    width: 30px;
    height: 30px;
    // position: absolute;
    // top: calc(50% - 15px);
    // left: calc(50% - 15px);
    transform: translate(calc(-50% - 15px), calc(-50% - 15px));
    animation: rotate2 2s infinite linear;
}
.loader {
    margin: 0;
    border-radius: 50%;
    border: 10px solid #009688;
    border-top: 10px solid #0000ff00;
}

@keyframes rotate2 {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(-1turn);
    }
}
